<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedBack Form</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-image: url("https://github.com/Mayurdhamgunde/Cementproject-images/blob/master/construction-grant-image.jpg?raw=true");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .form{
            width: 100%;
            height: 80vw;
        }

    </style>
</head>
<body>
    <div>
        <center>
            
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdvQadkOl0Teoox4tkpZYyTr7HCyCOSktyVAW9YxpE-0TB7cA/viewform?embedded=true" width="640" height="1139" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </center>

    </div>
</body>
</html>